body{
    background-color:black;
}
.navbar{
    background-color:#2153E4;
    position:fixed;
    display:flex;
    top:0px;
    justify-content:space-between;
    width:100%;
    z-index:1000;
    padding-top:20px;
    padding-bottom:20px;
}
.logo{
    margin-left:50px;
    font-size:30px !important;
}
.navbar a{
    text-decoration:none;
    color:white;
    font-size:16px;
}
.navbar a:hover{
    color:black;
}
.active{
    color:black !important;
}
.restu{
    display:flex;
    justify-content:right;
    gap:20px;
    margin-right:50px;
}
.titlu{
    display:flex;
    justify-content: center;
    color:white;
    margin-top:80px;
    margin-bottom:30px;
}
.carousel-item img {
       object-fit: cover;
       width: 100%;
       height: 100%;
       max-height: 500px;

   }

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    border-radius: 10px;
}
 .field-container {
     position: relative;
     width: 100%;
     max-width: 1200px;
     margin: 0 auto;
     padding: 20px;
 }

 .field-container img {
     width: 100%;
 }

 .player {
     position: absolute;
     text-align: center;
     transform: translateX(-50%);
     opacity: 0;
     visibility: hidden;
     transition: transform 0.5s ease-out, opacity 0.5s ease-out;
 }

 .player img {
     width: 150px;
     height:auto;
     max-width: 200px;
     height: auto;
 }

 .player .name {
     background-color: rgba(255, 255, 255, 0.8);
     padding: 5px 10px;
     border-radius: 5px;
     font-size: 12px;
     font-weight: bold;
     margin-top: 5px;
 }
